
/* Official Pokemon logo color hexes -->   Yellow: #ffcb05     blue: #2a75bb */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ------------------------------MODAL------------------------------------ */

#modal-container, .hidden {
    display: none;
}

.modal-content {    
    text-transform: capitalize;
     background-color: lightgoldenrodyellow;
}

.modal-header {
    display: flex;
    flex-direction: column-reverse;
}

.modal h1 {
    margin: 0;
}

.modal img {
    width: 250px;
    float: right;
    margin: 15px;
}

button.btn-close {
    align-items: flex-start;
    border: none;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

button[aria-label="Close"]:hover {
    transform: scale(1.5);
}

.navContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#next-button, #previous-button {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
    border: none;
}

.next-button, .previous-button {
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
}

.stat-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;
}

.stat-item {
    height: fit-content;
    align-items: center;
}

.stat-container img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.modal p, .stat-container {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.modal p:first-of-type {
    margin-top: 50px;
}

/* ------------------------------------HEADER-------------------------------- */

.page-header {
    width: 100%;
}

.gradient-border {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, blue, #ffff00da, #ffff00da, blue);
    margin: 0;
}

.logo {
    width: 150px;
}

.navBar {
    display: flex;
}

.nav-link {
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    font-weight: 700;
    color: #2a75bb;
    width: 100px;
    text-transform: uppercase;
    padding: 12px 0 0 15px;
}

#navbar-nav {
    justify-content: center;
}

/* --------------------------------MAIN------------------------------------ */

main {
    margin: 125px;
    margin-top: 0;
}

.title-box {
    display: flex;
    flex-direction: column;
}

.title {
    /* -webkit-text-stroke: 3px #2a75bb; */
    margin: auto;
    min-width: 100px;
}

#search-bar {
    align-self: center;
    width: 300px;
    margin: 10px auto;
}

.pokemon-list {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    flex-direction: row;
}

.pokeList--item {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: -.9px;
    text-align: center;
    min-width: 200px;
    min-height: 175px;
    text-transform: capitalize;
    color: black;
    border: 2px solid #2a75bb;
    background-color: #ffcb05;
    border-radius: 5px;
    padding: 0;
    box-shadow: 2px 2px 2px #666;
    transform: scale(1);
    transition: .1s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeList--item h1 {
    width: 100%;
    font-size: 1.25em;
    color: #2a75bb;
    background-color: rgba(255, 203, 5, 0.7);
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.list-group-item {
    border: none;
}

.pokeList--item img {
    height: 145px;
}

.pokeList--item img:hover {
    /* transform: rotate(12deg); */
    animation: 1s pokeDance linear;
}

@keyframes pokeDance {
    0% {
        transform: rotate(15deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}

.pokeList--item:hover, .next-button img:hover, .previous-button img:hover {
    /* transform: rotateX(15deg); */
    transform: scale(.992);
    cursor: pointer;
}

.loader {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

/* ---------------MEDIA QUERIES----------------------------------------- */

@media all and (max-width: 700px) {
    #modal-container.is-visible {
        padding: 0;
    }
    #modalImage {
        float: none;
        width: 150px;
    }
    .modal h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .modal {
        text-align: center;
    }
    .modal p:first-of-type {
        margin-top: 10px;
    }
    #search-bar {
        margin: 5px 0;
        width: 225px;
    }
}

@media all and (max-width: 250px) {
    .logo {
        width: 75px;
    }
}

/* -------DYNAMIC BUTTON BACKGROUND COLORS------------- */

.normal {
    background-color: #a8a77a;
}
.fire {
    background-color: #ee8130;
}
.water {
    background-color: #6390f0;
}
.electric {
    background-color: #f7d02c;
}
.grass {
    background-color: #7ac74c;
}
.ice {
    background-color: #96d9d6;
}
.fighting {
    background-color: #c22e28;
}
.poison {
    background-color: #a33ea1;
}
.ground {
    background-color: #e2bf65;
}
.flying {
    background-color: #a98ff3;
}
.psychic {
    background-color: #f95587;
}
.bug {
    background-color: #a6b91a;
}
.rock {
    background-color: #b6a136;
}
.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6f35fc;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #b7b7ce;
}
.fairy {
    background-color: #d685ad;
}
