

* {
    box-sizing: border-box;
}

body {
    font-size: 1.25em;
    font-weight: 700;
    line-height: .5em;
}

span {
    font-weight: 400;
}


/* Header */

.page-header {
    text-align: center;
}

.gradient-border {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, blue, #ffff00da, #ffff00da, blue);
}

.logo {
    width: 200px;
}